@model IEnumerable<Movie>



<div class="content">

    @Html.Action("Slider")

    <h2>Now Playing</h2>
    <div class="row">
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            if (i > 0 && i % 2 == 0)
            {
            @:</div><div class="row">
            }
            i++;

            <div class="col-md-6 col-lg-6">
                <div class="movie-summary">
                    <a id="@item.id" href="@Url.Action("Details", "Home", new { id = item.id })">
                        <img class="image" src="@Url.Content(@item.poster_path)" />
                    </a>
                    <div class="pro-description">
                        <h4>
                            <a href="@Url.Action("Details", "Home", new { id = item.id })" id="@item.id" class="title">@item.title</a>
                        </h4>

                        <div class="synopsis">
                            @item.overview
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <br />
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Home", new { index = ViewBag.index - 1})">Previous</a></li>
            
            @for (int j = ViewBag.startPages; j < ViewBag.endPages; j++)
            {
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Home", new { index = @j })">@j</a></li>
            }
            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Home", new { index = ViewBag.index + 1 })">Next</a></li>
        </ul>
    </nav>
</div>

